<div class="card mx-auto">
    <div class="barraLateral" id="sidebar">
        <ul>

            <img src="/img/logo.png" alt="Logo Fazt" class="logo">

            <li>Separar Cita</li>
            <li>Datos Cita</li>
            <li>Ficha Médica</li>
            <li>Pagos</li>
            <li>Ayuda</li>

        </ul>
    </div>

</div>
<script src="main.js"></script>