<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Contáctanos</h1>
            </div>
            <div class="card-body">
                <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Ingresa tu nombre" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="nombre" placeholder="Ingrese su correo"
                            autofocus>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="nombre" placeholder="Ingrese su mensaje"
                            autofocus></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Enviar
                        </button>
                    </div>
                    <p>Escribenos un mensaje,con gusto tendrás una respuesta de parte de nosotros en muy poco tiempo</p>
                </form>
            </div>
        </div>
    </div>
</div>