<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates asperiores, natus assumenda corporis
            sit, nam nihil repellat pariatur maxime molestias animi nobis cum esse sed vitae, vel perspiciatis sint
            laboriosam?</p>
    </div>
</div>